.see_more {
    display: flex;
    justify-content: center;
    margin: auto;
}

.btn {
    align-items: center;
    background-color: transparent;
    border: 1px solid #61728333;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 52px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 20px;
    width: 147px;
}

.btn:hover {
    background-color: #35B8BE;
    color: white;
}

.btn_colored {
    background-color: #35B8BE;
    color: white;
}

.btn_colored:hover {
    background-color: #06b8c260;
}
