.order_form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-top: 16px;
    align-items: center;
}

.form_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
}

label {
    color: var(--text-color, black);
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.6px;
}
