.main {
    align-items: center;
    background-color: var(--login-bg, #F5FBFC);
    display: flex;
    flex-direction: column;
    padding: 140px 120px;
}

.main__subtitle {
    margin-bottom: 48px;
    text-align: center;
    color: var(--text-color);
}

.main__title {
    color: var(--accent-color, #35B8BE);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1.65px;
    line-height: 55px;
    margin-bottom: 26px;
    text-align: center;
}

.main_menu {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    margin-bottom: 64px;
}

.highlight {
    color: var(--accent-color, #35B8BE);
}
