.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6%;
    background-color: var(--login-bg, #F5FBFC);
    min-height: 100vh;
}

.logout_title {
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: var(--accent-color, #35B8BE);
    margin-bottom: 54px;
}

.logout_button_container {
    display: flex;
    gap: 30px;
    justify-content: center;
}
