.header {
    align-items: center;
    background-color: var(--header-bg);
    display: flex;
    height: 96px;
    justify-content: space-between;
    padding: 0 120px;
    width: 100%;

}

.extra_element {
    position: absolute;
    top: 96px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 99vw solid transparent;
    border-top: 64px solid var(--header-bg);
}

.header_right {
    align-items: center;
    display: flex;
    gap: 76px;
}

.logo {
    width: 40px;
}

.nav {
    display: flex;
    gap: 30px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--accent-color);
}

.active-link {
    color: var(--accent-color);
}

.cart {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.cart__icon {
    width: 24px;
    height: 24px;
}

.cart__counter {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--button-text);
    color: var(--accent-color);
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-weight: bold;
}
