.footer {
    background-image: url("/images/footer.jpg");
    background-size: cover;
    padding: 100px 120px;
    color: var(--text-color);
    background-color: var(--footer-bg);}

.footer .container_up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.footer_column {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer_down_right {
    align-items: center;
    display: flex;
    gap: 24px;
}

.footer_icon {
    height: 40px;
    width: 40px;
}

.footer_logo {
    margin-bottom: 25px;
}

.footer_up_right {
    display: flex;
    gap: 126px;
}

.line {
    background-color: var(--line-color, rgba(255, 255, 255, 0.1)); /* светлая тонкая линия */
    height: 1px;
    margin-bottom: 72px;
}

.takeaway_text {
    color: var(--text-muted, #bbb);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 27px;
    margin-bottom: 100px;
    max-width: 246px;
}

.common_font a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--text-muted, #bbb);
}

.footer__column--uppercase {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--text-color);
}

.container_down {
    display: flex;
    justify-content: space-between;
}
