.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--login-bg);
    transition: background-color 0.3s ease;
    padding-top: 156px;
    padding-bottom: 156px;
}

.login_title {
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: var(--accent-color);
    margin-bottom: 54px;
}

.login_content {
    width: 695px;
    height: 284px;
    background-color: var(--card-bg);
    border: 1px solid var(--login-border);
    border-radius: 15px;
    padding: 36px 68px 42px 68px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

label {
    display: flex;
    gap: 30px;
    align-items: center;
    color: var(--text-color);
}

span {
    text-align: left;
    color: var(--text-color);
}

.login_button_container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.label {
    display: flex;
    justify-content: space-between;
}
